/*HOME PAGE*/

.bigHeader{
    background-color: #003f7f;
}

.bigHeader h1{
    margin: 30px;
    padding: 20px;
    font-family: cursive;
    font-style: normal;
    color: white;
    text-align: center;
}

.header h2{
    margin: 30px;
    font-family: cursive;
    font-style: normal;
    color: #ff4081;
    text-align: center;
}

.header h3 {
    color: #003f7f;
    text-align: center;
}

.message h3 {
    color: #ff4081;
    text-align: center;
}

.header h5{
    color: grey;
    text-align: center;
}

.navigation{
    border-bottom: 5px solid #003f7f;
    padding-bottom: 50px;
    height: 100px;
    width : 700px;
    margin: auto;
}


.block{
    border: 5px solid #003f7f;
    padding:5px;
    margin-left:25px;
    margin-right:25px;
    display: grid;
    float: left;
}

.block:hover{
    background-color: #ff80AB;
}


/*QUIZ*/
body{
    font-size: 20px;
    font-family: cursive;
}

#containerQuiz{
    margin : 20px auto;
    background-color: white;
    height: 320px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid #ff4081;
    color : #ff4081;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}

#qImg img{
    width : 200px;
    height : 320px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    bottom : 40px;
    padding : 10px
}

.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bolder;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color:white;
    opacity: 0.8;
    height: 320px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/*PHOTOS*/
.body{
    margin: 20px;
    padding: 0;
    background: #333;
}

.containerPhotos{
    max-width: 600px;
    margin:auto;
    border: #fff solid 3px;
    background: #fff;
}


.main-img img{
    width: 100%;
}

.photos img,
.photosB img,
.photosC img,
.photosD img{
    width: 100%;
        /*which is 760px, refer to above*/
}


.photos,
.photosB,
.photosC,
.photosD{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

@keyframes fadeIn{
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/* MESSAGE */
.mbox h1{
    position:absolute;
    top:100px;
    left: 300px;
}

.mBox h2{
    position:absolute;
    bottom:50px;
    right:50px;
}

.mBox{
    margin:auto;
    text-align: justify;
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    width: 800px;
    height:600px;
    position: relative;
        /*if put absolute, the words will be at a position according to the webpage and not the box*/
    background-image:url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-size: 99%;
}






